<h1>Create Cat:</h1>
<label>
  Name:
  <input type="text" [formControl]="name">

  Price:
  <input type="number" [formControl]="price">
  <label for="type">
    Type:
  </label>
  <input id="type" type="text" [formControl]="type">
  <label for="color">
    Color:
  </label>
  <input id="color" type="text" [formControl]="color">
  <label for="color">
    CreatedDate:
  </label>
  <input id="createdDate" type="datetime-local" [formControl]="createdDate">
 <!-- <input type="hidden" value="1" [formControl]="ownerId"/> -->
<!--  <input type="hidden" value="1" [formControl]="isCompleted"/> -->
  <!--{{cat|json}} -->
</label>
<button (click)="save()"
        [disabled]="creating">Save</button>

<h1 *ngIf="errString" style="color: #8b0000">{{errString}}</h1>

